.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

.square {
  width: 5em; /* Adjust width as needed */
  height: 5em; /* Adjust height as needed */
  margin: 2px;
  padding: 0; /* Remove padding to ensure text is centered */
  box-sizing: border-box;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.correct-letter {
  background-color: yellow;

}

.border-box {
  border: 2px solid #000;
}

.txt-center {
  text-align: center;
}

.txt-color-black {
  color: black;
}

.bg-red {
  background-color: red;
}

.font-large {
  font-size: 1.25rem; /* Example size for large font */
}
