.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.square {
  width: 4vw; /* Adjust width as needed */
  height: 4vw; /* Adjust height as needed */
  margin: 2px;
  padding: 0; /* Remove padding to ensure text is centered */
  box-sizing: border-box;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  font-size: 2vw;
  font-weight: 700;
}

.border-box {
  border: 2px solid #000;
}

.txt-center {
  text-align: center;
}

.txt-color-black {
  color: black;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
  transition: background-color 0.5s ease;
}
.bg-green {
  background-color: green;
  transition: background-color 0.5s ease;
}
.font-medium {
  font-size: 5vw;
}

.font-3vw {
  font-size: 3vw;
}

.mx-10 {
  margin: 10px;
  padding: 20px;
}

.winner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
